<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/tech" alt="">
        <span><h4>{{ soporte.nombre }}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{ soporte.nombre }}</h3>
        <p>{{ soporte.descripcion }}</p>
        <strong><p>{{ soporte.url }}</p></strong>
        <a href="#"	class="btn-card">Leer más</a>			
    </div>
</div>