<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
                <!-- form	card	login	with	validation	feedback	-->
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3	class="mb-0">Soporte Tecnológico</h3>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="nombre">Servicio</label>
                                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese su servicio" #nombre>
                                </div>
                                <div class="form-group">
                                    <label for="Imagen Url">Instagram</label>
                                    <input type="text" class="form-control" id="imagenUrl" placeholder="Ingrese su instagram" #url>
                                </div>
                                <div class="form-group">
                                    <label for="descripcion">Descripción</label>
                                    <input type="text" class="form-control" id="descripcion" placeholder="Ingrese su descripción" #descripcion>
                                </div>
                                <button	type="submit" class="btn btn-primary" (click)="guardar(nombre.value, url.value, descripcion.value)" >Guardar</button>
                            </form>
                        </div>
                    </div>
            </div>
    </div>
    <hr	class="mb-5">
    <div class="d-flex row">
        <app-soporte *ngFor="let d of soportes" [soporte]="d"></app-soporte>
    </div>
</div>


<!-- Codigo mio 
<app-soporte *ngFor="let x of soportes" [nombre]="x"></app-soporte>-->